In [201]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [202]:
df = pd.read_csv('C:/Users/Srijan-DS/Documents/Projects/identify-profitable-customers/data/raw/raw.csv')
df.sample(5)

,id,purchase_amount,asset_amount,average_ratio,personal_id_1,personal_id_2,age,area,job_type,phone,personal_card_1,personal_card_2,personal_card_3,personal_card_4,car,purchase_score,campaign_use,card_expired,average_favorite_score,card_history_period,score_1,score_2,score_3,score_4,total_amount_1,total_amount_2,total_amount_3,important_customer
7870,7870,18298.0,66411,86.024153,161,51,43,6977.0,NaN,1,0,0.0,0,0.0,0,709,0.0,0.0,1.053932,1.322072,0,17,0,0.0,4813,11544,2013,0
3478,3478,41293.0,95594,78.763363,2696,51,33,5686.0,Self employed,1,1,0.0,1,0.0,0,408,2.0,NaN,2.041082,4.728512,1,3,3,NaN,258,43805,4111,1
1775,1775,69032.0,74326,84.524690,802,152,31,6908.0,NaN,1,0,0.0,0,0.0,0,13,1.0,0.0,1.176488,5.537241,0,8,1,0.0,46523,131216,161,1
8408,8408,26184.0,67563,73.633586,2961,45,35,1707.0,NaN,1,1,0.0,0,0.0,0,6,NaN,0.0,0.005964,0.036745,0,6,2,0.0,4118,10408,2179,0
7996,7996,47506.0,98460,84.414088,286,51,41,NaN,NaN,1,1,0.0,0,0.0,0,670,1.0,0.0,0.001730,3.141467,0,0,0,0.0,184709,9167,979,0

In [203]:
df = df.sample(n=5000, random_state=42)

In [204]:
# Define the bins and labels
bins = [20, 30, 40, 50]
labels = ['21-31', '31-41', '41-51']

# Create the age_bracket column
df['age_bracket'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)

In [205]:
df['age_bracket'].unique()

['31-41', '21-31', '41-51', NaN]
Categories (3, object): ['21-31' < '31-41' < '41-51']

In [206]:
df['age'].describe()

count    5000.000000
mean       35.083600
std         7.805203
min        21.000000
25%        27.000000
50%        36.000000
75%        42.000000
max        50.000000
Name: age, dtype: float64

In [207]:
df[df['age_bracket'].isna()]

,id,purchase_amount,asset_amount,average_ratio,personal_id_1,personal_id_2,age,area,job_type,phone,personal_card_1,personal_card_2,personal_card_3,personal_card_4,car,purchase_score,campaign_use,card_expired,average_favorite_score,card_history_period,score_1,score_2,score_3,score_4,total_amount_1,total_amount_2,total_amount_3,important_customer,age_bracket
3479,3479,47154.0,110110,64.884388,1369,86,50,6739.0,Salaried,1,1,0.0,1,0.0,0,605,2.0,1.0,0.472982,1.855831,0,5,3,1.0,60985,3640,236,1,NaN
13133,13133,95790.0,66418,79.490503,801,48,50,6559.0,NaN,1,1,0.0,0,0.0,0,10,2.0,NaN,4.955037,10.473257,1,10,4,0.0,165965,403464,83359,1,NaN
4788,4788,57761.0,79242,69.484213,1597,51,50,5258.0,Salaried,1,1,1.0,0,0.0,0,304,0.0,0.0,0.464898,2.380746,0,10,1,0.0,177437,306795,4567,1,NaN

In [193]:
new_df = df[df['important_customer']==1]

new_df = new_df[new_df['age_bracket'] == '41-51']

In [194]:
new_df

,id,purchase_amount,asset_amount,average_ratio,personal_id_1,personal_id_2,age,area,job_type,phone,personal_card_1,personal_card_2,personal_card_3,personal_card_4,car,purchase_score,campaign_use,card_expired,average_favorite_score,card_history_period,score_1,score_2,score_3,score_4,total_amount_1,total_amount_2,total_amount_3,important_customer,age_bracket
76,76,53333.0,76674,78.487482,210,48,42,1291.0,Self employed,1,1,0.0,0,0.0,0,305,3.0,0.0,0.001543,0.005637,0,1,0,0.0,3110649,193178,17,1,41-51
86,86,63252.0,72616,37.768085,1413,86,44,4602.0,Self employed,1,1,0.0,0,0.0,0,311,0.0,0.0,0.004835,0.028919,0,0,2,0.0,1597,5911,3064,1,41-51
117,117,44707.0,69217,81.578522,2187,45,40,6827.0,Self employed,1,1,NaN,0,0.0,0,659,0.0,0.0,0.008011,0.029085,0,0,0,0.0,4363,8812,2955,1,41-51
120,120,NaN,76983,85.368599,1439,48,48,1655.0,Salaried,1,1,0.0,0,0.0,0,304,0.0,0.0,0.002706,0.801460,0,0,1,0.0,4267,3809,2953,1,41-51
134,134,46648.0,116626,78.424041,937,86,41,372.0,NaN,1,1,1.0,1,0.0,0,735,0.0,1.0,1.703017,2.367277,0,8,7,1.0,49090,521422,300,1,41-51
151,151,48001.0,65006,60.514368,1946,152,41,2958.0,Salaried,1,0,0.0,0,0.0,0,306,1.0,0.0,1.029399,2.385676,1,0,3,1.0,514666,14138,3780,1,41-51
181,181,68728.0,62575,78.273699,1189,48,46,5089.0,Self employed,1,1,0.0,1,0.0,1,1,2.0,0.0,3.213034,4.376487,0,18,0,1.0,441436,539616,487,1,41-51
182,182,59558.0,71028,73.114391,501,120,49,3046.0,Salaried,1,1,NaN,1,0.0,0,24,0.0,0.0,0.498451,11.163644,1,1,3,0.0,6324,3015,183,1,41-51
209,209,65300.0,85741,82.340015,2553,86,40,2989.0,Self employed,1,1,0.0,0,0.0,0,2,0.0,0.0,0.006801,0.078939,0,4,0,0.0,4610,6002,1814,1,41-51
210,210,43387.0,67337,72.202906,1509,86,40,NaN,Salaried,1,0,0.0,0,0.0,0,757,0.0,0.0,0.010994,0.031554,0,0,0,0.0,1320,4283,1978,1,41-51
216,216,46015.0,79661,64.779693,481,86,48,2490.0,Salaried,1,0,0.0,1,0.0,1,576,0.0,1.0,1.528393,2.906035,1,4,0,0.0,2313,149625,5753,1,41-51
218,218,33942.0,118807,61.645340,33,86,43,7029.0,Self employed,1,1,0.0,0,0.0,0,831,0.0,1.0,0.987603,5.604897,0,1,6,1.0,340,1234026,957,1,41-51
222,222,40970.0,67293,87.317806,2861,45,43,3367.0,Self employed,1,1,0.0,0,0.0,0,0,0.0,0.0,0.005685,0.031997,1,5,1,0.0,5150,9361,1753,1,41-51
226,226,29549.0,59123,47.613418,352,49,40,3322.0,Salaried,1,0,0.0,1,NaN,0,449,1.0,0.0,0.002725,11.834106,1,15,4,1.0,2732570,2221341,76826,1,41-51
233,233,34740.0,73957,65.499064,860,86,43,3442.0,NaN,1,1,0.0,0,0.0,0,304,NaN,0.0,0.005120,2.224691,0,2,0,0.0,1633,3366,2318,1,41-51
239,239,26463.0,68314,61.511739,2139,48,46,1871.0,Salaried,1,1,1.0,1,0.0,0,17,1.0,0.0,0.003728,0.483927,1,5,3,0.0,3161614,954103,31,1,41-51
259,259,NaN,76369,50.456708,859,51,46,95.0,NaN,1,0,1.0,0,0.0,0,606,0.0,0.0,1.260652,4.502780,1,17,1,NaN,186911,5371,4755,1,41-51
260,260,61669.0,83564,71.227485,802,51,43,6930.0,Self employed,1,0,0.0,1,0.0,0,2,0.0,0.0,0.014253,0.529814,0,0,0,0.0,3983,4249,3138,1,41-51
274,274,47006.0,156325,79.523117,347,51,40,5346.0,NaN,1,0,0.0,1,0.0,0,1,5.0,1.0,0.004512,2.446121,0,2,3,2.0,63386,463194,766,1,41-51
281,281,NaN,73764,48.006232,1237,86,44,2782.0,Self employed,1,1,0.0,0,0.0,0,394,0.0,0.0,0.666583,0.757434,0,0,2,NaN,5546,11310,3352,1,41-51
350,350,63817.0,69654,87.568150,3342,51,45,89.0,NaN,1,1,0.0,0,0.0,0,2,1.0,0.0,0.002712,0.833429,0,0,1,0.0,190585,6943,506,1,41-51
351,351,37843.0,98545,69.937460,578,45,41,5036.0,Self employed,1,1,NaN,1,0.0,0,823,0.0,0.0,0.003406,2.214059,0,27,6,0.0,857,1249260,8608,1,41-51
420,420,19914.0,63999,54.799731,104,86,44,2412.0,Salaried,1,1,0.0,1,0.0,0,696,0.0,0.0,0.004998,0.014987,0,10,0,0.0,83627,17234,2694,1,41-51
422,422,49424.0,64050,78.712405,690,51,44,2970.0,Salaried,1,0,0.0,0,0.0,1,715,0.0,0.0,0.493049,1.049241,0,0,1,1.0,2314,12544,967,1,41-51
434,434,56339.0,63621,83.139936,1728,48,41,3027.0,Self employed,1,0,0.0,0,NaN,0,1,0.0,1.0,3.489947,5.441370,1,0,5,0.0,42986,178707,3894,1,41-51
437,437,40275.0,64681,86.667484,2239,86,41,2975.0,Self employed,1,0,0.0,0,0.0,0,712,0.0,0.0,0.007854,0.021259,0,0,1,0.0,7001,13747,2546,1,41-51
439,439,48105.0,89625,82.746231,55,48,43,NaN,Self employed,1,0,0.0,0,1.0,0,592,0.0,0.0,0.007423,0.438857,0,0,2,0.0,6522,7960,1446,1,41-51
441,441,39308.0,162964,53.325660,2575,120,41,1497.0,Salaried,1,1,0.0,0,0.0,0,300,2.0,NaN,2.436961,3.873093,1,9,4,0.0,3921,390712,8460,1,41-51
490,490,56488.0,69285,83.295740,2732,51,46,7125.0,Salaried,1,1,0.0,0,0.0,0,390,NaN,NaN,1.802766,2.226619,0,2,1,0.0,3078,1392490,391,1,41-51
513,513,NaN,67576,82.173131,734,86,41,3344.0,Salaried,1,1,0.0,0,0.0,0,1,0.0,0.0,0.016319,0.292497,0,0,1,0.0,4665,8377,2563,1,41-51
579,579,45068.0,100249,86.078431,1694,86,41,5285.0,Self employed,1,1,0.0,0,0.0,0,700,0.0,0.0,0.014269,0.269413,0,2,0,NaN,4266,6702,2798,1,41-51
592,592,48746.0,77423,56.136904,1950,48,45,5087.0,Salaried,1,0,0.0,0,0.0,1,834,1.0,1.0,1.105552,2.607411,0,1,14,2.0,69019,709625,3559,1,41-51
598,598,41595.0,158924,88.155825,140,86,45,NaN,Salaried,1,0,1.0,0,0.0,0,431,0.0,0.0,0.000994,2.986679,0,8,3,2.0,38073,506315,1641,1,41-51
617,617,70607.0,84923,73.242537,759,86,42,825.0,Self employed,1,0,0.0,1,0.0,0,730,5.0,0.0,4.362900,5.560109,3,5,2,0.0,1303,449324,5507,1,41-51
619,619,76297.0,69741,74.484646,1575,48,44,6081.0,Self employed,1,0,0.0,0,0.0,0,715,0.0,0.0,0.005726,0.031937,0,3,0,0.0,374,12620,2912,1,41-51
623,623,51409.0,70622,74.029294,1407,49,49,2601.0,Salaried,1,0,NaN,1,0.0,0,574,2.0,0.0,1.578264,5.549888,2,9,0,NaN,512649,37582,398,1,41-51
639,639,48520.0,65690,82.319712,1395,86,41,2786.0,NaN,1,0,0.0,0,0.0,0,2,0.0,0.0,0.005465,0.650889,0,2,2,0.0,4128,2924,2178,1,41-51
669,669,NaN,100595,59.797804,1171,45,41,7219.0,Salaried,1,0,NaN,0,0.0,0,733,1.0,0.0,2.167092,2.629675,0,3,1,1.0,918,44491,9309,1,41-51
737,737,41319.0,96729,77.523083,1055,49,45,6614.0,Self employed,1,0,NaN,0,0.0,0,713,0.0,0.0,1.846818,10.961265,0,1,2,0.0,513893,49993,6519,1,41-51
785,785,NaN,63564,72.230515,751,51,44,3362.0,NaN,1,1,0.0,0,NaN,1,699,0.0,0.0,0.001101,0.147500,0,0,2,0.0,759,13211,1678,1,41-51
813,813,59820.0,67892,71.741612,1121,45,43,NaN,Self employed,1,0,0.0,0,0.0,0,726,0.0,0.0,0.004254,0.006683,0,0,1,0.0,4258,12326,3397,1,41-51
822,822,49042.0,118990,62.438638,239,45,46,6898.0,Salaried,1,1,1.0,0,0.0,0,643,1.0,1.0,1.843995,5.540222,0,30,3,1.0,3659,1158980,5644,1,41-51
823,823,112713.0,134632,66.818603,1466,45,40,NaN,Self employed,1,1,1.0,1,0.0,0,0,0.0,0.0,4.921715,5.531502,2,8,2,2.0,491383,1357699,284,1,41-51
839,839,93589.0,63504,78.333462,2690,86,41,6218.0,Self employed,1,0,0.0,1,NaN,0,814,0.0,1.0,0.005149,3.109265,1,6,0,1.0,5222,1286565,348,1,41-51
856,856,48888.0,69271,85.313234,1795,86,44,3352.0,Salaried,1,0,0.0,0,0.0,0,710,0.0,0.0,0.018469,0.266970,0,0,2,0.0,1918,7254,2662,1,41-51
858,858,65942.0,64469,82.561952,1152,86,45,2783.0,Self employed,1,1,0.0,0,0.0,0,738,0.0,0.0,0.010520,0.945650,0,0,1,NaN,883,5034,2625,1,41-51
878,878,49683.0,68704,82.787389,2127,45,44,NaN,NaN,1,1,0.0,0,0.0,0,756,0.0,0.0,0.009674,0.293851,0,0,2,0.0,1373,39307,1812,1,41-51
881,881,48075.0,64826,78.470001,725,45,44,6887.0,Salaried,1,1,0.0,0,0.0,1,706,0.0,0.0,1.906890,2.345956,0,1,0,0.0,293,9599,344,1,41-51
894,894,43069.0,70097,75.763268,2453,86,44,2972.0,Self employed,1,0,0.0,0,0.0,0,803,0.0,0.0,0.001384,0.888465,0,0,2,0.0,6567,9510,2736,1,41-51
901,901,40080.0,64865,81.999347,830,86,44,1677.0,Self employed,1,1,0.0,0,0.0,0,741,NaN,0.0,0.006785,0.033512,0,0,2,0.0,6701,3550,2036,1,41-51
906,906,94933.0,136465,84.134248,3165,45,49,2294.0,Salaried,1,1,1.0,0,0.0,1,0,5.0,1.0,3.615265,10.739848,3,0,2,2.0,2303935,149508,31319,1,41-51
914,914,59012.0,61945,74.709056,2640,120,48,1250.0,Salaried,1,0,1.0,0,0.0,0,0,NaN,0.0,0.000105,1.563741,2,2,3,2.0,185951,38690,20687,1,41-51
960,960,49908.0,73124,76.034721,2690,51,44,1631.0,Self employed,1,1,0.0,0,0.0,1,627,0.0,0.0,0.093354,0.502633,0,1,0,0.0,3593,4867,2480,1,41-51
964,964,21898.0,69482,81.798456,896,51,43,6882.0,Salaried,1,1,0.0,0,0.0,0,724,0.0,0.0,0.006841,0.019227,0,4,2,0.0,5094,9988,2077,1,41-51
975,975,46006.0,154957,55.251642,3090,153,45,293.0,Salaried,1,1,1.0,0,NaN,0,747,2.0,0.0,2.572081,3.975883,0,0,2,1.0,37217,40656,23,1,41-51
982,982,52012.0,70790,71.023903,1534,51,41,31.0,NaN,1,1,0.0,0,0.0,0,744,0.0,0.0,0.011978,0.179547,0,0,2,NaN,1776,9515,2987,1,41-51
993,993,59944.0,105982,89.038270,2549,49,49,2478.0,Salaried,1,1,1.0,1,0.0,0,630,0.0,1.0,0.959640,6.300235,1,2,7,1.0,1191075,608593,29332,1,41-51
1012,1012,52203.0,100475,78.643494,847,48,46,3353.0,NaN,1,0,1.0,0,0.0,1,1,0.0,0.0,1.135290,9.065625,1,0,0,0.0,41409,295345,481,1,41-51
1020,1020,44465.0,102941,81.968118,285,86,44,1895.0,Self employed,1,0,0.0,0,0.0,0,10,0.0,NaN,0.005265,0.054107,0,0,0,0.0,507,19631,3001,1,41-51
1022,1022,54785.0,69508,66.318188,1019,51,48,NaN,NaN,1,0,0.0,0,0.0,0,714,0.0,0.0,0.003500,0.027997,0,0,1,0.0,254263,8557,2654,1,41-51
1030,1030,20487.0,70686,81.942391,1365,86,40,2708.0,NaN,1,1,0.0,0,0.0,0,736,0.0,0.0,0.012194,0.596562,0,4,0,0.0,3130,6326,2904,1,41-51
1078,1078,32957.0,71607,74.728377,943,51,44,1602.0,Self employed,1,0,0.0,0,0.0,0,3,NaN,0.0,0.005224,0.032269,0,0,1,0.0,7609,3768,3674,1,41-51
1083,1083,46813.0,74177,62.557241,3253,120,42,5058.0,Salaried,1,1,0.0,1,0.0,0,813,1.0,NaN,0.559131,1.695903,0,1,0,0.0,185663,155157,8317,1,41-51
1109,1109,40504.0,75707,83.042997,2850,86,44,6553.0,Salaried,1,1,0.0,0,0.0,0,709,0.0,NaN,0.001937,2.444705,0,0,1,NaN,170993,11850,2496,1,41-51
1115,1115,45483.0,73248,64.080649,1950,86,49,NaN,Salaried,1,1,1.0,0,0.0,0,599,2.0,1.0,0.787033,10.531446,2,3,0,0.0,591650,36764,90,1,41-51
1119,1119,42963.0,64604,81.799698,153,86,48,86.0,Self employed,1,0,0.0,0,NaN,0,1,0.0,0.0,0.012832,0.190986,0,1,2,0.0,644,8521,2702,1,41-51
1162,1162,67138.0,158266,69.943920,1806,45,46,6572.0,Salaried,1,0,1.0,1,0.0,0,745,6.0,NaN,1.449805,5.933384,1,1,3,0.0,1221145,143568,34554,1,41-51
1178,1178,25362.0,68590,88.395498,3141,86,46,2083.0,Self employed,1,1,1.0,0,0.0,0,2,0.0,0.0,0.828495,3.385206,1,0,4,1.0,1153667,495165,8065,1,41-51
1190,1190,77113.0,77146,83.989972,1099,120,46,6185.0,Salaried,1,1,1.0,0,0.0,0,428,2.0,1.0,2.011301,6.174393,0,15,7,1.0,1406587,1127892,19090,1,41-51
1194,1194,42130.0,66896,82.079749,1086,51,48,1730.0,Self employed,1,1,0.0,0,0.0,0,298,0.0,0.0,0.002476,0.036599,0,0,1,0.0,6180,2651,2127,1,41-51
1205,1205,67293.0,65149,59.358848,943,48,49,5661.0,Salaried,1,0,0.0,1,NaN,0,631,0.0,0.0,1.513124,5.519109,2,7,0,0.0,5975,1586772,217,1,41-51
1210,1210,50535.0,100438,84.164118,1592,51,46,5205.0,Self employed,1,0,0.0,0,0.0,0,19,1.0,0.0,2.595735,2.712348,1,8,0,0.0,431271,1462,668,1,41-51
1225,1225,50213.0,74719,79.646080,3074,120,46,3318.0,Salaried,1,1,0.0,0,0.0,0,737,4.0,1.0,1.153063,2.254802,2,0,0,0.0,173292,165793,36776,1,41-51
1235,1235,46067.0,75562,75.568395,411,51,44,6867.0,Salaried,1,1,0.0,0,0.0,1,714,0.0,NaN,0.007072,0.331077,0,5,2,0.0,7749,15083,1735,1,41-51
1263,1263,42387.0,60022,79.598456,1534,49,45,3328.0,Salaried,1,0,0.0,0,0.0,0,728,0.0,0.0,0.007420,0.034628,0,0,0,0.0,1302,13573,1806,1,41-51
1274,1274,49653.0,72239,71.400281,1492,51,44,89.0,Salaried,1,1,0.0,0,0.0,0,718,1.0,0.0,0.005305,0.040237,0,0,2,0.0,5343,6745,2585,1,41-51
1277,1277,55445.0,115430,83.943539,3791,153,44,NaN,Salaried,1,1,1.0,1,0.0,0,640,5.0,0.0,0.840541,2.627238,1,2,0,0.0,3469144,470278,5634,1,41-51
1278,1278,NaN,67647,81.366454,175,51,44,6819.0,NaN,1,1,0.0,0,0.0,0,735,0.0,0.0,0.008979,0.551350,0,5,0,0.0,52683,7465,2785,1,41-51
1345,1345,59182.0,157113,74.524800,3044,48,46,1959.0,Salaried,1,1,1.0,1,0.0,0,569,3.0,1.0,2.027321,2.860588,3,0,2,1.0,1517463,1582,693,1,41-51
1351,1351,29471.0,105835,73.100207,872,86,44,1895.0,NaN,1,1,1.0,0,0.0,0,718,NaN,0.0,0.008053,0.140096,0,0,0,0.0,310145,330991,1604,1,41-51
1359,1359,57703.0,118168,74.298327,2585,49,45,NaN,Self employed,1,1,0.0,1,0.0,0,0,0.0,0.0,0.003418,1.658171,1,17,2,0.0,1511972,2291,752,1,41-51
1365,1365,49279.0,68898,73.943382,1575,51,40,1050.0,NaN,1,0,0.0,0,NaN,0,743,NaN,0.0,0.007353,0.238952,0,0,2,0.0,3332,8640,7183,1,41-51
1380,1380,NaN,105670,49.088927,685,86,43,5150.0,Salaried,1,0,0.0,1,0.0,0,2,1.0,0.0,0.006784,0.015151,0,2,2,0.0,2634,15683,2420,1,41-51
1382,1382,42565.0,81685,79.730750,3116,48,48,4467.0,Salaried,1,1,0.0,0,NaN,1,385,1.0,0.0,0.328124,2.854366,1,6,0,0.0,455973,1510312,638,1,41-51
1421,1421,60309.0,73995,50.851705,45,48,41,1105.0,Salaried,1,1,0.0,0,0.0,0,827,4.0,1.0,1.040170,2.674678,1,5,5,0.0,1167266,1453038,269,1,41-51
1427,1427,100446.0,74132,51.849898,782,45,49,NaN,Salaried,1,1,0.0,0,0.0,0,830,0.0,0.0,2.004229,2.199418,1,2,3,0.0,40494,46174,1930,1,41-51
1451,1451,46549.0,74289,74.316054,112,48,45,NaN,Self employed,1,0,NaN,1,0.0,0,13,0.0,0.0,0.961734,3.199192,2,9,3,0.0,1207017,1050493,276855,1,41-51
1469,1469,46950.0,67593,75.581127,69,45,45,299.0,Salaried,1,1,0.0,0,NaN,0,735,0.0,0.0,1.859200,1.933395,0,4,0,0.0,53049,10032,1731,1,41-51
1481,1481,56249.0,61277,84.101393,2889,120,46,3334.0,Salaried,1,0,1.0,1,0.0,0,21,0.0,0.0,0.484853,5.734337,2,2,4,1.0,39075,514185,187,1,41-51
1559,1559,90004.0,82686,73.999699,2405,49,46,31.0,Self employed,1,1,1.0,1,0.0,0,294,1.0,0.0,4.303693,6.232887,0,2,4,2.0,3039467,34776,619,1,41-51
1560,1560,NaN,66028,72.098031,3023,51,44,298.0,Salaried,1,0,0.0,0,0.0,0,749,0.0,0.0,0.012184,0.380887,0,0,0,0.0,136086,15450,1778,1,41-51
1565,1565,NaN,67662,85.834732,1192,45,45,NaN,Salaried,1,1,0.0,0,0.0,0,1,0.0,0.0,0.004420,0.015735,0,3,1,NaN,4784,7147,902,1,41-51
1576,1576,43977.0,68212,74.180191,919,86,41,1306.0,NaN,1,0,0.0,0,0.0,0,12,0.0,0.0,0.010150,0.187721,0,0,0,0.0,225,5650,2145,1,41-51
1586,1586,38256.0,46581,84.331394,2079,48,42,3879.0,Salaried,1,0,0.0,1,0.0,1,688,2.0,0.0,0.347477,4.533170,1,0,3,2.0,758971,407817,504,1,41-51
1587,1587,35268.0,65787,50.013125,133,48,43,3700.0,Self employed,1,1,0.0,1,0.0,0,612,1.0,1.0,1.088960,1.971860,0,27,0,0.0,41210,2749,3,1,41-51
1591,1591,NaN,69678,73.769792,1564,51,40,NaN,Self employed,1,0,0.0,0,NaN,0,755,0.0,0.0,0.008420,0.035323,0,4,0,0.0,5443,7408,2344,1,41-51
1638,1638,NaN,101860,47.564543,250,45,49,NaN,Self employed,1,0,0.0,0,0.0,0,1,0.0,0.0,0.324021,0.602264,1,4,0,1.0,81,31342,274,1,41-51
1639,1639,NaN,70983,71.652704,1315,86,44,5223.0,Salaried,1,0,0.0,1,0.0,0,716,0.0,0.0,0.009516,0.124200,0,0,2,NaN,35917,4008,2609,1,41-51
1662,1662,66835.0,67748,73.762309,1825,86,45,1019.0,Salaried,1,0,0.0,0,NaN,0,0,0.0,0.0,1.491151,9.385054,2,2,1,0.0,6425,326807,17198,1,41-51
1687,1687,76333.0,48484,84.273364,627,45,41,3010.0,Self employed,1,0,1.0,0,0.0,0,644,1.0,NaN,0.658177,10.098672,0,2,13,0.0,956,1789,306,1,41-51
1725,1725,NaN,86873,83.701951,3165,51,41,272.0,Salaried,1,1,0.0,1,0.0,0,2,0.0,0.0,0.002935,3.156759,0,9,1,0.0,516935,135371,4329,1,41-51
1728,1728,34070.0,60091,78.076680,1512,45,44,1438.0,Self employed,1,1,1.0,1,0.0,0,2,0.0,0.0,0.494308,2.519227,0,5,1,0.0,7539,17627,1497,1,41-51
1745,1745,51822.0,83786,79.351770,1739,51,42,4561.0,Salaried,1,0,1.0,0,0.0,0,758,1.0,1.0,0.297500,2.531318,0,1,1,2.0,440023,160968,45668,1,41-51
1760,1760,33374.0,63391,78.186801,872,48,44,2715.0,Salaried,1,1,0.0,1,0.0,1,740,0.0,0.0,0.444555,2.626677,0,0,0,0.0,5388,38859,1489,1,41-51
1793,1793,NaN,68659,83.078307,1795,45,48,1796.0,Salaried,1,1,0.0,0,0.0,0,750,1.0,0.0,0.001786,0.430124,0,5,2,0.0,87889,19256,530,1,41-51
1840,1840,NaN,66268,71.673645,1300,86,48,789.0,Salaried,1,0,0.0,0,0.0,0,747,0.0,0.0,0.012197,0.212993,0,2,0,0.0,2956,10062,2995,1,41-51
1855,1855,29471.0,105835,73.100207,872,86,44,1895.0,Self employed,1,1,1.0,0,0.0,0,718,0.0,0.0,0.008053,0.140096,0,0,0,0.0,310145,330991,1604,1,41-51
1862,1862,29853.0,69613,74.948618,745,86,43,NaN,Salaried,1,1,0.0,0,0.0,0,749,0.0,0.0,0.475638,1.344480,0,0,2,0.0,4260,4162,3456,1,41-51
1910,1910,57584.0,69655,74.987683,1073,51,44,5084.0,Self employed,1,0,0.0,0,0.0,0,720,1.0,0.0,0.006411,0.036942,0,0,0,0.0,3825,3111,2609,1,41-51
1914,1914,51556.0,106190,73.477839,1734,120,49,601.0,Salaried,1,0,0.0,0,0.0,1,1,1.0,0.0,2.282502,3.071840,0,8,3,0.0,161817,405569,696,1,41-51
1932,1932,51893.0,95040,58.076473,1777,49,49,3843.0,Salaried,1,0,1.0,0,0.0,0,837,2.0,NaN,1.020668,10.545431,1,2,0,2.0,1090523,2225124,1405,1,41-51
1942,1942,NaN,69131,86.612430,1758,49,46,5710.0,NaN,1,1,0.0,0,0.0,0,818,0.0,0.0,0.007541,1.116182,0,0,0,NaN,64089,10462,1295,1,41-51
1954,1954,49856.0,98845,75.267454,1575,86,40,6158.0,Self employed,1,1,0.0,0,0.0,0,721,0.0,0.0,0.006419,0.034162,0,3,2,0.0,3956,7616,3394,1,41-51
1964,1964,77113.0,77146,83.989972,1099,120,46,6185.0,Salaried,1,1,1.0,0,NaN,0,428,2.0,1.0,2.011301,6.174393,0,15,7,1.0,1406587,1127892,19090,1,41-51
1971,1971,99685.0,146237,64.277596,1305,45,42,1778.0,Salaried,1,0,1.0,0,0.0,0,1,1.0,0.0,0.966071,1.660321,3,10,5,2.0,1167716,141805,863,1,41-51
1975,1975,42798.0,67625,82.370412,218,45,40,3344.0,Salaried,1,1,0.0,0,0.0,0,2,0.0,0.0,0.010321,0.918021,0,1,2,0.0,4257,145451,2094,1,41-51
1976,1976,71459.0,69076,70.641674,3756,45,45,572.0,Self employed,1,1,0.0,1,0.0,0,734,NaN,0.0,0.006152,0.586193,3,5,3,1.0,48369,1307426,109,1,41-51
1986,1986,38789.0,66763,86.433899,1122,86,45,3378.0,NaN,1,1,0.0,0,0.0,0,0,1.0,0.0,0.004244,0.109120,0,1,0,NaN,5880,8645,2160,1,41-51
2005,2005,48533.0,100768,81.723545,179,86,44,3340.0,Salaried,1,0,NaN,1,0.0,0,7,0.0,0.0,0.012106,0.219718,0,0,2,0.0,1524,24229,2124,1,41-51
2017,2017,30724.0,66557,76.536700,611,145,43,571.0,Salaried,1,0,0.0,0,0.0,0,736,0.0,0.0,0.003424,0.010095,0,2,2,0.0,2796,23087,1166,1,41-51
2031,2031,39742.0,72972,74.004234,1139,86,44,782.0,NaN,1,1,0.0,0,0.0,0,753,1.0,0.0,0.001308,0.035810,0,1,2,0.0,203375,6975,3124,1,41-51
2101,2101,28513.0,66822,76.149485,1065,86,40,5998.0,Salaried,1,0,0.0,0,0.0,0,1,0.0,0.0,0.009748,0.021003,1,0,1,0.0,250262,7732,2361,1,41-51
2119,2119,NaN,80641,51.426336,1127,48,46,3796.0,Self employed,1,0,1.0,0,0.0,0,815,NaN,0.0,1.469728,1.635030,3,5,7,0.0,169085,1040798,19377,1,41-51
2145,2145,48396.0,70003,75.328109,2798,86,46,1895.0,Salaried,1,1,0.0,0,0.0,0,751,0.0,0.0,0.005467,0.031239,0,2,2,0.0,363,5698,3195,1,41-51
2156,2156,44322.0,76224,64.715427,2766,145,45,6867.0,Salaried,1,0,0.0,0,0.0,0,9,0.0,0.0,0.890603,2.347120,0,3,2,0.0,4688,53532,9480,1,41-51
2181,2181,68481.0,70637,75.370103,2243,48,43,6604.0,Salaried,1,0,0.0,1,0.0,0,712,0.0,0.0,0.005726,0.333901,0,4,0,0.0,57121,4209,1657,1,41-51
2184,2184,62058.0,103470,71.050538,292,51,40,NaN,Self employed,1,0,0.0,0,0.0,0,9,NaN,0.0,0.001100,0.074840,0,1,0,0.0,5051,11254,3546,1,41-51
2193,2193,33668.0,154497,65.917627,1361,86,41,3395.0,Self employed,1,1,0.0,0,0.0,0,2,0.0,0.0,0.003881,0.104329,0,11,1,0.0,387,8377,2826,1,41-51
2227,2227,69756.0,153991,59.672628,1542,120,49,NaN,Self employed,1,1,0.0,0,0.0,1,637,2.0,1.0,2.344277,5.889452,1,2,2,0.0,54245,13095,5907,1,41-51
2237,2237,47237.0,63408,76.724241,129,51,45,1508.0,Self employed,1,1,NaN,0,0.0,0,707,0.0,0.0,0.010556,0.013403,0,1,2,0.0,238304,15226,683,1,41-51
2252,2252,51989.0,67497,74.649645,1464,51,41,6340.0,Self employed,1,1,0.0,0,0.0,0,632,2.0,0.0,1.033846,5.302953,0,22,2,0.0,58933,3705187,29,1,41-51
2262,2262,29915.0,94464,52.625361,417,86,40,NaN,Salaried,1,1,0.0,0,0.0,0,678,0.0,0.0,0.012201,0.149885,0,4,0,1.0,3848,5284,2170,1,41-51
2269,2269,51941.0,50051,41.790274,2091,45,45,2787.0,Self employed,1,1,0.0,0,0.0,0,823,0.0,0.0,0.392226,2.406412,0,3,0,0.0,146231,151697,6340,1,41-51
2274,2274,48803.0,93682,78.792839,680,152,48,789.0,Salaried,1,0,0.0,0,0.0,0,812,0.0,0.0,2.692874,10.225505,0,9,2,1.0,71,2980,12,1,41-51
2275,2275,64739.0,68720,71.702879,1193,51,40,6286.0,NaN,1,1,0.0,0,0.0,0,3,0.0,0.0,0.012645,0.047711,0,1,0,0.0,4596,7280,3328,1,41-51
2281,2281,43151.0,68684,71.835163,648,86,40,6591.0,Salaried,1,0,0.0,0,NaN,0,735,0.0,0.0,0.006203,0.024368,0,0,1,0.0,3244,4690,2040,1,41-51
2299,2299,56121.0,67895,50.380144,1246,51,40,5096.0,Salaried,1,0,0.0,0,0.0,0,718,0.0,0.0,0.016104,0.786006,0,2,0,0.0,6794,6765,2645,1,41-51
2313,2313,68142.0,159382,87.988634,943,51,49,1075.0,Self employed,1,0,0.0,0,0.0,0,18,1.0,0.0,0.000145,0.008840,0,2,0,1.0,172953,194753,34,1,41-51
2320,2320,48145.0,68744,74.766993,906,51,40,5666.0,NaN,1,1,0.0,0,0.0,0,2,NaN,0.0,0.009245,0.576665,0,1,2,0.0,2842,8904,3208,1,41-51
2323,2323,26315.0,66528,82.623364,267,51,40,293.0,Salaried,1,0,0.0,0,NaN,0,0,1.0,0.0,0.002088,0.012708,0,7,0,0.0,109,8073,1074,1,41-51

In [208]:
df['purchase_amount'].fillna(df['purchase_amount'].median(),inplace=True)

In [209]:
df_spending = df[['id','purchase_amount','purchase_score','card_history_period']]

In [210]:
df_spending.sample(5)

          id  purchase_amount  purchase_score  card_history_period
10256  10256          64047.0              12             0.507656
13814  13814          46041.0             805             0.021891
10074  10074          31723.0               6             2.755247
14909  14909          46353.0             733             0.028152
14733  14733          40287.0             719             0.010854

In [211]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

In [212]:
df_spending['purchase_amount'] = sc.fit_transform(df_spending['purchase_amount'].to_numpy().reshape(-1,1))
df_spending['card_history_period'] = sc.fit_transform(df_spending['card_history_period'].to_numpy().reshape(-1,1))
df_spending['purchase_score'] = sc.fit_transform(df_spending['purchase_score'].to_numpy().reshape(-1,1))

C:\Users\Srijan-DS\AppData\Local\Temp\ipykernel_1724\3778910153.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_spending['purchase_amount'] = sc.fit_transform(df_spending['purchase_amount'].to_numpy().reshape(-1,1))
C:\Users\Srijan-DS\AppData\Local\Temp\ipykernel_1724\3778910153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_spending['card_history_period'] = sc.fit_transform(df_spending['card_history_period'].to_numpy().reshape(-1,1))
C:\Users\Srijan-DS\AppData\Local\Temp\ipykernel_1724\3778910153.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_spending['purchase_score'] = sc.fit_transform(df_spending['purchase_score'].to_numpy().reshape(-1,1))

In [213]:
df_spending.head()

          id  purchase_amount  purchase_score  card_history_period
1411    1411         0.036703        0.843940            -0.126357
7555    7555        -0.060835        0.880113            -0.591842
4930    4930        -0.106219        0.789679             1.146915
10054  10054        -0.018728        0.834896            -0.682436
2714    2714         0.372990       -1.275226            -0.692473

In [214]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim1 = cosine_similarity(df_spending)

In [215]:
cosine_sim1[0]

array([1.        , 0.99999988, 0.99999985, ..., 0.99999883, 0.99999985,
       0.99999983])

In [216]:
cosine_sim1.shape

(5000, 5000)

In [217]:
def recommend_customers(id, cosine_sim):
    idx = df.index[df['id']==id].tolist()[0]

    sim_scores = list(enumerate(cosine_sim[idx]))

    sim_scores = sorted(sim_scores, key = lambda i:i[1], reverse=True)

    sim_scores = sim_scores[1:6]

    customer_index = [i[0] for i in sim_scores]

    recommendations_df = pd.DataFrame(
        {
            'Customer_id' : df['id'].iloc[customer_index],
            'SImilarity_score' : sim_scores
        }
    )

    return recommendations_df

In [218]:
recommend_customers(2, cosine_sim1)

IndexError: list index out of range

## Demographic Based Filtering

In [219]:
df.head()

,id,purchase_amount,asset_amount,average_ratio,personal_id_1,personal_id_2,age,area,job_type,phone,personal_card_1,personal_card_2,personal_card_3,personal_card_4,car,purchase_score,campaign_use,card_expired,average_favorite_score,card_history_period,score_1,score_2,score_3,score_4,total_amount_1,total_amount_2,total_amount_3,important_customer,age_bracket
1411,1411,47410.0,66743,77.305498,1804,45,38,3378.0,Salaried,1,1,0.0,0,0.0,1,705,0.0,0.0,0.400042,1.315437,0,6,1,0.0,5430,9543,1074,0,31-41
7555,7555,46041.0,67592,71.492517,880,45,38,2681.0,Self employed,1,0,0.0,0,0.0,0,717,1.0,0.0,0.004352,0.256207,0,0,1,0.0,70928,6794,2205,0,31-41
4930,4930,45404.0,72425,83.962836,1726,51,28,3008.0,Self employed,1,1,0.0,0,0.0,0,687,2.0,0.0,2.293010,4.212820,1,5,1,0.0,31310,7730,645,1,21-31
10054,10054,46632.0,71392,82.193038,3322,120,40,3397.0,Salaried,1,1,0.0,0,0.0,0,702,0.0,0.0,0.010643,0.050058,0,2,0,0.0,26,10435,1610,0,41-51
2714,2714,52130.0,75653,76.568046,1253,51,26,3046.0,Self employed,1,1,0.0,0,0.0,0,2,0.0,0.0,0.006932,0.027217,0,5,0,0.0,61647,7660,1938,0,21-31

In [220]:
df_demographic = df[['id','age', 'job_type', 'phone', 'asset_amount', 'car']]

In [221]:
df_demographic['job_type'].fillna(df['job_type'].mode()[0],inplace=True)

C:\Users\Srijan-DS\AppData\Local\Temp\ipykernel_1724\3138679732.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_demographic['job_type'].fillna(df['job_type'].mode()[0],inplace=True)

In [222]:
df_demographic.sample(5)

          id  age       job_type  phone  asset_amount  car
9535    9535   43  Self employed      1         73489    0
2299    2299   40       Salaried      1         67895    0
13293  13293   34       Salaried      1         67957    1
408      408   35  Self employed      1         66152    0
13933  13933   25  Self employed      1         66453    0

In [223]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse=False,drop='first')

In [224]:
df_demographic['job_type_encoded'] = ohe.fit_transform(df_demographic[['job_type']])

C:\Users\Srijan-DS\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\Srijan-DS\AppData\Local\Temp\ipykernel_1724\1612183862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_demographic['job_type_encoded'] = ohe.fit_transform(df_demographic[['job_type']])

In [225]:
df_demographic.drop(['job_type'],axis=1,inplace=True)

C:\Users\Srijan-DS\AppData\Local\Temp\ipykernel_1724\2057584001.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_demographic.drop(['job_type'],axis=1,inplace=True)

In [226]:
df_demographic.head()

          id  age  phone  asset_amount  car  job_type_encoded
1411    1411   38      1         66743    1               0.0
7555    7555   38      1         67592    0               1.0
4930    4930   28      1         72425    0               1.0
10054  10054   40      1         71392    0               0.0
2714    2714   26      1         75653    0               1.0

In [227]:
df_demographic['age'] = sc.fit_transform(df_demographic['age'].to_numpy().reshape(-1,1))
df_demographic['asset_amount'] = sc.fit_transform(df_demographic['asset_amount'].to_numpy().reshape(-1,1))
df_demographic['car'] = sc.fit_transform(df_demographic['car'].to_numpy().reshape(-1,1))
df_demographic['job_type_encoded'] = sc.fit_transform(df_demographic['job_type_encoded'].to_numpy().reshape(-1,1))

C:\Users\Srijan-DS\AppData\Local\Temp\ipykernel_1724\1318025777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_demographic['age'] = sc.fit_transform(df_demographic['age'].to_numpy().reshape(-1,1))
C:\Users\Srijan-DS\AppData\Local\Temp\ipykernel_1724\1318025777.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_demographic['asset_amount'] = sc.fit_transform(df_demographic['asset_amount'].to_numpy().reshape(-1,1))
C:\Users\Srijan-DS\AppData\Local\Temp\ipykernel_1724\1318025777.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_demographic['car'] = sc.fit_transform(df_demographic['car'].to_numpy().reshape(-1,1))
C:\Users\Srijan-DS\AppData\Local\Temp\ipykernel_1724\1318025777.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_demographic['job_type_encoded'] = sc.fit_transform(df_demographic['job_type_encoded'].to_numpy().reshape(-1,1))

In [228]:
cosine_sim2 = cosine_similarity(df_demographic)

In [229]:
def recommend_customers(id, cosine_sim):
    idx = df.index[df['id']==id].tolist()[0]

    sim_scores = list(enumerate(cosine_sim[idx]))

    sim_scores = sorted(sim_scores, key = lambda i:i[1], reverse=True)

    sim_scores = sim_scores[1:6]

    customer_index = [i[0] for i in sim_scores]

    recommendations_df = pd.DataFrame(
        {
            'Customer_id' : df['id'].iloc[customer_index],
            'SImilarity_score' : sim_scores
        }
    )

    return recommendations_df

In [230]:
recommend_customers(2, cosine_sim2)

IndexError: list index out of range

## Combined Recommendation

In [231]:
def recommend_customers(id, cosine_sim1, cosine_sim2):
    idx = df.index[df['id']==id].tolist()[0]

    cosine_sim = 6*cosine_sim1 + 0.05*cosine_sim2

    sim_scores = list(enumerate(cosine_sim[idx]))

    sim_scores = sorted(sim_scores, key = lambda i:i[1], reverse=True)

    sim_scores = sim_scores[1:6]

    customer_index = [i[0] for i in sim_scores]

    recommendations_df = pd.DataFrame(
        {
            'Customer_id' : df['id'].iloc[customer_index],
            'SImilarity_score' : sim_scores
        }
    )

    return recommendations_df

In [232]:
recommend_customers(2, cosine_sim1, cosine_sim2)

IndexError: list index out of range

In [233]:
import pickle

pickle.dump(cosine_sim1,open('cosine_sim1.pkl','wb'))
pickle.dump(cosine_sim2,open('cosine_sim2.pkl','wb'))